form {
    @include span-columns(12);
    // width: 100%;
    clear: both;
}

input, button {
    border: 0;
    font-family: $font;
}

#{$all-text-inputs} {
    width: 100%;
    border-bottom: 2px solid $secondary;
    margin: 1em auto;
    line-height: 1.5;
    background: $primary;
    color: $form-text-color;
    height: 150%;
    text-align: center;
    font-size: 3vw;

    @include placeholder {
        color: $form-text-color;
    }
}

#{$all-text-inputs-focus} {
    outline: none;
    @include placeholder {
        color: $gray;
    }
}

#{$all-buttons} {
    @include span-columns(10);
    @include shift(1);
    background: $secondary;
    color: $button-text-color;
    font-size: 1rem;
    margin-top: 1em;
    padding: .5rem 0;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
    &.accept {
        background: $button-accept-color;
        color: $white;
    }
    &.decline {
        background: $button-decline-color;
        color: $white;
    }
}
