$black: #000;
$gray: #aaa;
$white: #fff;

$primary: #fbb034;
$secondary: #ffdd00;

$font: "ff-tisa-sans-web-pro";
$base-text-color: $white;
$base-link-color: $white;

$background-url: "https://snap-photos.s3.amazonaws.com/img-thumbs/960w/6DUY0V0BL5.jpg";
$background-fade: rgba($black, 0.5);

$small: new-breakpoint(max-width 900px);


$form-text-color: $base-text-color;
$button-text-color: $black;
$button-accept-color: #05cc47;
$button-decline-color: #e64b50;
