.beers {
  @include outer-container(1200px);
  // @include span-columns(12);
  &.random {
    .beer {
      @include span-columns(10);
      // @include shift(3);
      @include media($small) {
        // @include shift(0);
      }
    }
  }
}

.beer {
  @include margin(1em null);
  @include span-columns(5 of 12);
  &:nth-of-type(2n+1) {
    @include shift(1);
  }
  @include omega(2n);
  // background: rgba($white, 0.25);
  background: $white;
  color: $black;
  border-radius: 5px;

  @include media($small) {
    @include span-columns(10);
    @include shift(1);
  }

  .text {
    @include span-columns(5 of 5);
  }
}
